<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Remote weight measure</title>
    </head>

    <body>
        <h2>connect to weight scale</h2>

        <p> <%=name%> </p>

    </body>

</html>